<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bbdog.demo.mapper.PersistentLoginsMapper" >
  <resultMap id="BaseResultMap" type="com.bbdog.demo.entity.PersistentLogins" >
    <id column="series" property="series" jdbcType="VARCHAR" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="token" property="token" jdbcType="VARCHAR" />
    <result column="last_used" property="lastUsed" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    series, username, token, last_used
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from persistent_logins
    where series = #{series,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from persistent_logins
    where series = #{series,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.bbdog.demo.entity.PersistentLogins" >
    insert into persistent_logins (series, username, token, 
      last_used)
    values (#{series,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR}, #{token,jdbcType=VARCHAR}, 
      #{lastUsed,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.bbdog.demo.entity.PersistentLogins" >
    insert into persistent_logins
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="series != null" >
        series,
      </if>
      <if test="username != null" >
        username,
      </if>
      <if test="token != null" >
        token,
      </if>
      <if test="lastUsed != null" >
        last_used,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="series != null" >
        #{series,jdbcType=VARCHAR},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="token != null" >
        #{token,jdbcType=VARCHAR},
      </if>
      <if test="lastUsed != null" >
        #{lastUsed,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.bbdog.demo.entity.PersistentLogins" >
    update persistent_logins
    <set >
      <if test="username != null" >
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="token != null" >
        token = #{token,jdbcType=VARCHAR},
      </if>
      <if test="lastUsed != null" >
        last_used = #{lastUsed,jdbcType=TIMESTAMP},
      </if>
    </set>
    where series = #{series,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.bbdog.demo.entity.PersistentLogins" >
    update persistent_logins
    set username = #{username,jdbcType=VARCHAR},
      token = #{token,jdbcType=VARCHAR},
      last_used = #{lastUsed,jdbcType=TIMESTAMP}
    where series = #{series,jdbcType=VARCHAR}
  </update>
</mapper>